{% extends 'base.html' %}
{% load static %}
{% block title %}
نتایج جستجو {{جستجو}}
{% endblock title %}
{% block content %}
<!-- Main Section -->
    <div class="container">
      <h3 class="heading font-weight-light">نتایج جستجو "{{جستجو}}"</h3>
      <hr />
    </div>

    <div class="container main-part">
      {% if contacts %}
    {% for contact in contacts %}
    {% include 'partials/_card.html' %}
  
    {% endfor %}
    {% else %}
    <p class="d-block font-weight-light my-2 heading">نتیجه ای یافت نشد</p>
    {% endif %}
    </div>
    <!-- Main Section ends-->
{% endblock content %}